include README.md

recursive-include launcher/util/schema *
recursive-include launcher/util/templates *
recursive-include launcher/util/stack_confs *
recursive-include launcher/ansible/templates *

include tests/test-config.yml
recursive-include tests/stack_confs *
recursive-include tests/target-playbooks *
